NODE_ENV=localhost
PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=capstoneproject
DB_PORT=3306
APP_URL=http://localhost:3000
API_KEY=bebas_diisi_apapun
SESSION_SECRET=bebas_diisi_apapun
EMAIL_USER=
EMAIL_PASS=